{% extends "SMMICoursBundle::layout.html.twig" %}

{% block smmicours_contenu %}
    <div class="object">
        <div class="half-width">
            <p>
                <a href="{{ path('smmi_index_homepage') }}">Accueil</a>
                /
                <a href="{{ path('smmi_cours_module') }}">Module</a>
                {#/
                <a href="{{ path('smmi_cours_liste', {'id': chapitre.id+1}) }}">Cours</a>
                /
                <a href="{{ path('smmi_cours_chapitre', {'id': chapitre.id+1}) }}">Chapitres</a>#}
            </p>
            <div class="object-content cours">
                <div class="cours-desc">
                    <h2>{{ chapitre.titre }}</h2>
                </div>
                <!--<div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/3QQS8fJqXoI" frameborder="0" allowfullscreen></iframe>
                </div>-->
                <div class=" cours-content">
                    <p>{{ chapitre.content }}</p>
                </div>
                <ul>
                    <li><a href="{{ path('smmi_cours_contenu', {'id': chapitre.id+1}) }}"><span>Chapitre suivant</span></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}