<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="images/logo.png" />
  <title>{% block title %}Sphere MMI | {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/public/css/style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/public/css/normalize.css') }}" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
  <header class="main-header">
    <h1>Sphere MMI</h1>
    <nav class="main-navbar">
      <ul class="menu">
        <li><a href="#">Cours</a></li>
        <li><a href="#">Exercices</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
      <ul class="social">
        <li><a href="#"><img src="{{ asset('bundles/public/images/social_01.jpg') }}" alt="social-twitter" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/public/images/social_01.jpg') }}" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/public/images/social_01.jpg') }}" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/public/images/social_01.jpg') }}" /></a></li>
      </ul>
      <ul class="profil">
        <li><a href="#">Profil</a></li>
      </ul>
    </nav>
  </header>
    <div class="container">

      {% block body %}
      {% endblock %}

    </div>
  <footer>
    <div class="liens">
      <span>Sphere MMI</span>
      <ul class="l1">
        <li><a href="#">Contact</a></li>
        <li><a href="#">Condition d'utilisation</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
      </ul>
      <ul class="l2">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google+</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Tumblr</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">RSS</a></li>
      </ul>
    </div>
    <form class="foot-form" action="#" method="post">
      <p>Newsletter</p >
      <input type="text" name="name" value="" placeholder="exemple@something.fr">
      <button type="button" name="button">ENVOYER</button>
    </form>
    <p class="rights">
      © SPHERE MMI, INC. ALL RIGHTS RESERVED.
      <span>Site By Hestia</span>
    </p>
  </footer>

  {% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript">
    var ocw = $('.object-content').width();
    var ratio = ocw/4;
    $('.bloc').css({'height':ratio+'px'});
    $(window).on('resize', function() {
      ocw = $('.object-content').width();
      var ratio = ocw/4;
      $('.bloc').css({'height':ratio+'px'});
    });
    $(window).scroll(function(){
      if ($(this).scrollTop() > $('.main-header').height() - 60) {
        $('.main-navbar').addClass('navbar-fixed');
      }
      else {
        $('.main-navbar').removeClass('navbar-fixed');
      }
    });
  </script>
  {% endblock %}
</div>
</body>
</html>