{% extends "SMMIBackOfficeBundle::layout.html.twig" %}

{% block smmibackoffice_liste %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="flash-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <a href="{{ path('smmi_backoffice_add') }}">Ajouter un cours</a>


    <table id="listeBackOffice">
        <tr>
            <td>Titre</td>
            <td>Promo</td>
            <td>Module</td>
            <td>Auteur</td>
            <td>Date</td>
            <td>Actions</td>
            <td>Actions</td>
        </tr>

       {% for cours in listCours %}
            <tr>
                <td>{{ cours.titre }}</td>
                <td>{{ cours.promo }}</td>
                <td>{{ cours.module }}</td>
                <td>{{ cours.auteur }}</td>
                <td>{{ cours.date|date("F jS \\a\\t g:ia") }}</td>
                <td>
                    {% if cours.online == 1 %}
                        Online
                    {% else %}
                        Offline
                    {% endif %}
                </td>
                <td><a href="{{ path('smmi_backoffice_edit', {'id': cours.id}) }}">edit</a> - <a href="{{ path('smmi_backoffice_delete', {'id': cours.id}) }}">delete</a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
